<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Natural Language Processor</title>
</head>
<body>
    <header>
        <h2>Natural Language Processor Project</h2>
    </header>
    <section class="center">
        <p>Enter article URL</p>
        <form onsubmit="return Client.handleSubmit(event)">
            <input id="name" type="text" name="input" value="" placeholder="http(s)://example.com">
            <input type="submit" value="Process" onsubmit="return handleSubmit(event)" onclick="return Client.handleSubmit(event)">
        </form>
    </section>
    <section>
        <p>Results: </p>
        <div id="results"></div>
    </section>
    <footer>
        <p><i>by Omar Eldamiry</i>.</p>
    </footer>
</body>
</html>