section {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    overflow-wrap: break-word;
}

input {
    padding: 0.5rem;
    border-radius: 50rem;
    margin-top: 1rem;
}

#name {
    background-color: #252a32;
    color: white;
    border: 1px solid white;
    width: 50rem;
}